.custom-card {
  width: 1200px;
  max-width: 100%;

  @media (max-width: 800px) {
    min-width: 320px;
    width: 100%;
  }
}

.padding-content {
  padding: 30px;
}

.table {
  @media (max-width: 520px) {
    overflow-x: auto; 
    display: block;
  }
}